<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <script type="text/javascript" src="../main.js"></script>
    <script type="text/javascript" src="../piecesToBoard.js"></script>
    <script type="text/javascript" src="../game.js"></script>
    <script type="text/javascript" src="../testBoards.js"></script>
    <script type="text/javascript" src="../tests.js"></script>

    

    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <title>Nine Men's Morris</title>
</head>

<body>

    <h1>Nine Men's Morris</h1>
    
<svg class="svg" width="100%" height = "100vh"></svg>
<!--<div class="piece white"></div>-->




    

</body>
<script type="text/javascript" src="../positioning.js"></script>
</html>
